<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Scott Vandehey"/>
  {% if publication.subject %}<meta name="subject" content="{{ publication.subject }}"/>{% endif %}
  {% if publication.keywords %}<meta name="keywords" content="{{ publication.keywords }}"/>{% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg" color="red">
  <link rel="stylesheet" href="/style.css">
</head>
<body class="{{ body_class }}">
  <header class="header" id="top">
    <div class="header-content">
      <a href="/"><strong>D&D</strong> Vandeventures</a>
      {% if publication %}
        <span>&#10095;</span>
        <a href="{{ publication.url }}">{{ publication.title }}</a>
        {% if publication.version %}
          <span class="version"><small>&#10095; {{ publication.version }}</small></span>
        {% endif %}
      {% endif %}
    </div>
  </header>
  <main class="primary-content {{ main_class }}">
    {% if show_nav %}
    <header class="article-header">
      <nav class="adventure-nav">
        <div class="adventure-nav__item adventure-nav__prev{% if not prev %} is-disabled{% endif %}">
          {% if prev %}
            <a class="adventure-nav__link" href="{{ prev.url }}">{{ prev.title }}</a>
          {% else %}
            Prev Chapter
          {% endif %}
        </div>
        <div class="adventure-nav__item adventure-nav__toc">
          <a class="adventure-nav__link" href="../">Table of Contents</a>
        </div>
        <div class="adventure-nav__item adventure-nav__next{% if not next %} is-disabled{% endif %}">
          {% if next %}
            <a class="adventure-nav__link" href="{{ next.url }}">{{ next.title }}</a>
          {% else %}
            Next Chapter
          {% endif %}
        </div>
      </nav>
      <div class="nav-back-to-top">
        <a class="nav-back-to-top__link" href="#top"><span class="sr-only">Back to Top</span></a>
      </div>
    </header>
    {% endif %}
    {{ content | safe }}
  </main>
  <footer class="footer">
    {% include 'legal.njk' %}
  </footer>
</body>
</html>
