<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg" color="red">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header" id="top">
    <div class="header-content">
      <a href="/"><strong>D&D</strong> Vandeventures</a>
      {% if adventure %}
        <span>&gt;</span>
        <a href="{{ adventure.url }}">{{ adventure.title }}</a>
      {% endif %}
    </div>
  </header>
  <main class="primary-content {{ main_class }}">
    {% if show_nav %}
    <header class="article-header">
      <nav class="adventure-nav">
        <div class="adventure-nav__item adventure-nav__prev{% if not prev %} is-disabled{% endif %}">
          {% if prev %}
            <a class="adventure-nav__link" href="{{ prev.url }}">{{ prev.title }}</a>
          {% else %}
            Prev Chapter
          {% endif %}
        </div>
        <div class="adventure-nav__item adventure-nav__toc">
          <a class="adventure-nav__link" href="../">Table of Contents</a>
        </div>
        <div class="adventure-nav__item adventure-nav__next{% if not next %} is-disabled{% endif %}">
          {% if next %}
            <a class="adventure-nav__link" href="{{ next.url }}">{{ next.title }}</a>
          {% else %}
            Next Chapter
          {% endif %}
        </div>
      </nav>
      <div class="nav-back-to-top">
        <a class="nav-back-to-top__link" href="#top"><span class="sr-only">Back to Top</span></a>
      </div>
    </header>
    {% endif %}
    {{ content | safe }}
  </main>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-copyright">
        <p>DUNGEONS & DRAGONS, D&D, Wizards of the Coast, Forgotten Realms, Ravenloft, Eberron, the dragon ampersand, Ravnica and all other Wizards of the Coast product names, and their respective logos are trademarks of Wizards of the Coast in the USA and other countries.</p>
        <p>This work contains material that is copyright Wizards of the Coast and/or other authors. Such material is used with permission under the Community Content Agreement for Dungeon Masters Guild.</p>
        <p>All other original material in this work is copyright 2022 by Scott Vandehey and published under the Community Content Agreement for Dungeon Masters Guild.</p>
      </div>
      <div class="footer-logo">
        <img src="https://www.dmsguild.com/images/site_resources/DMsGuildLogo.jpg" alt="Dungeon Masters Guild" width="100">
      </div>
    </div>
  </footer>
</body>
</html>
