<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/favicon.svg" color="red">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="header-content">
      <a href="/"><strong>D&D</strong> Adventures <span>by</span> Scott Vandehey</a>
    </div>
  </header>
  <main class="primary-content">
    {{ content | safe }}
  </main>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-copyright">
        <p>DUNGEONS & DRAGONS, D&D, Wizards of the Coast, Forgotten Realms, Ravenloft, Eberron, the dragon ampersand, Ravnica and all other Wizards of the Coast product names, and their respective logos are trademarks of Wizards of the Coast in the USA and other countries.</p>
        <p>This work contains material that is copyright Wizards of the Coast and/or other authors. Such material is used with permission under the Community Content Agreement for Dungeon Masters Guild.</p>
        <p>All other original material in this work is copyright 2022 by Scott Vandehey and published under the Community Content Agreement for Dungeon Masters Guild.</p>
      </div>
      <div class="footer-logo">
        <img src="http://www.dmsguild.com/images/site_resources/DMsGuildLogo.jpg" alt="Dungeon Masters Guild" width="100">
      </div>
    </div>
  </footer>
</body>
</html>
