html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%;
}

::selection {
  background: #242527;
  color: #fff;
  text-shadow: none;
}

blockquote {
  margin: 0 40px 19.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  line-height: 1.3;
  word-wrap: break-word;
}

p {
  margin: 0 0 0.75em;
}

figure {
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 20px 0 40px;
}

td {
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
}
