.header {
  background: #242527;
  color: #fafafa;
  flex: none;
  line-height: var(--line-height-s);
}

.header-content {
  font-family: var(--font-condensed);
  font-size: var(--font-size-xl);
  margin-inline: auto;
  max-width: var(--page-width);
  padding: var(--size-s);

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration-color: none;
    }
  }

  strong {
    color: red;
  }

  span {
    color: #979aa4;
  }
}
