.header {
  background: var(--color-header-bg, black);
  color: var(--color-header-fg, white);
  flex: none;
  line-height: var(--line-height-s);
}

.header-content {
  font-family: var(--font-condensed);
  font-size: var(--font-size-xl);
  margin-inline: auto;
  max-width: var(--size-page-width);
  padding: var(--size-s);

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration-color: none;
    }
  }

  strong {
    color: var(--color-header-logo, red);
  }

  span {
    color: var(--color-header-fg-subtle, lightgrey);
  }
}
