img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: var(--size-s) 0;

  img {
    display: block;
  }
}

figcaption {
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: bold;
  margin-block: var(--size-s);
  text-align: center;
  text-transform: uppercase;
}

.compendium-image-right {
  float: right;
  margin-left: var(--size-s);
  max-width: calc(var(--size-page-width) * 0.4);
}
