img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 10px 0;

  img {
    display: block;
  }
}

figcaption {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.compendium-image-right {
  float: right;
  margin-left: 10px;
  max-width: 325px;
}
