img {
  height: auto;
  max-width: 100%;
}

figure {
  break-inside: avoid;
  margin: var(--size-l) 0;

  img {
    display: block;
  }
}

figcaption {
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: bold;
  margin-block: var(--size-s);
  text-align: center;
  text-transform: uppercase;
}

.compendium-image-right {
  float: right;
  margin-left: var(--size-s);
  max-width: calc(var(--size-page-width) * 0.4);
  position: relative;
  z-index: 1;

  @media print {
    float: none;
    margin-left: 0;
    max-width: 100%;
  }
}

.npc-portrait,
.npc-portrait__inner {
  &::before,
  &::after {
    border: var(--border-medium) solid var(--color-heading-border, currentColor);
    color: var(--color-heading-border, currentColor);
    content: '•';
    font-size: var(--size-m);
    height: var(--size-m);
    line-height: 12px; // magic number to align the period vertically
    position: absolute;
    text-align: center;
    width: var(--size-m);
  }

  &::before {
    top: var(--border-thick);
  }

  &::after {
    bottom: var(--border-thick);
  }
}

.npc-portrait {
  border: var(--border-medium) solid var(--color-heading-border, currentColor);
  padding: var(--border-thick);
  position: relative;

  @media print {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  &::before,
  &::after {
    left: var(--border-thick);
  }

  img {
    display: block;
  }
}

.npc-portrait__inner {
  background: radial-gradient(circle, #122b3e, #066587);
  border: var(--border-medium) solid var(--color-heading-border, currentColor);

  &::before,
  &::after {
    right: var(--border-thick);
  }
}

.full-page-image {
  @media print {
    height: 9in;
    width: 100%;

    &.shorter {
      height: 8.5in;
    }

    img {
      height: auto;
      margin: auto;
      max-height: 100%;
      width: auto;
    }
  }
}

.full-bleed-image {
  @media print {
    width: 100%;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
