/* stylelint-disable selector-no-qualifying-type */
@media print {
  .new-page {
    page-break-before: always;
  }

  .header,
  .footer {
    display: none;
  }

  html {
    font-size: 12px;
  }

  body {
    background: none;
    color: black;
  }

  .primary-content {
    padding: 0;
  }

  h1 {
    margin-top: 0;
  }

  article {
    columns: 2;
    page-break-before: always;

    &.one-column {
      columns: 1;
    }
  }
}
