/* stylelint-disable selector-no-qualifying-type */
@media print {
  @page {
    margin: 0.5in 0.75in;
  }

  .new-page {
    page-break-before: always;
  }

  .header,
  .footer,
  .article-header {
    display: none;
  }

  html {
    font-size: 12px;
  }

  body {
    background: none;
    color: black;
  }

  .primary-content {
    padding: 0;
  }

  h1 {
    margin-top: 0;
  }

  article {
    page-break-before: always;
  }

  .columns {
    columns: 2;
    column-gap: var(--size-l);
    margin-top: var(--size-xl);

    > :first-child {
      margin-top: 0;
    }
  }

  .column-break {
    break-after: column;
  }
}
