blockquote {
  background-color: var(--color-quote-bg, whitesmoke);
  border-color: var(--color-quote-border, currentcolor);
  border-left: var(--border-thin) solid;
  border-right: var(--border-thin) solid;
  color: var(--color-theme-page-fg);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  margin: var(--size-xl) 0 var(--size-xxl);
  padding: var(--size-l) var(--size-xl) var(--size-m);
  position: relative;

  &::before,
  &::after,
  p:first-of-type::before,
  p:last-of-type::after {
    background-color: var(--color-quote-corner, currentcolor);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    content: '';
    height: 8px;
    position: absolute;
    width: 8px;
  }

  &::before,
  &::after {
    background-position: left;
    left: -4px;
  }

  p:first-of-type::before,
  p:last-of-type::after {
    background-position: right;
    right: -4px;
  }

  &::before,
  p:first-of-type::before {
    top: -4px;
  }

  &::after,
  p:last-of-type::after {
    bottom: -4px;
  }

  a {
    color: var(--color-link);
  }

  p:last-of-type {
    margin-bottom: var(--size-xs);
  }
}
