.text--rules-sidebar {
  background-color: var(--compendium-rules-sidebar-color, #dae4c1);
  border-color: #231f20;
  border-left-color: #b3b3b3;
  border-right-color: #b3b3b3;
  border-style: solid;
  border-width: var(--border-thick) var(--border-thin);
  color: var(--theme-page-fg-color);
  filter: drop-shadow(0 var(--size-xs) 8px #ccc);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  margin: var(--size-xxl) var(--size-xs);
  padding: var(--size-xl) var(--size-xxl) var(--size-m);
  position: relative;

  &::before,
  &::after {
    background-image: url('https://media.dndbeyond.com/compendium-images/components/--right-rules.svg'),
      url('https://media.dndbeyond.com/compendium-images/components/--left-rules.svg');
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 11px; // magic number from background image
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &::before {
    top: -13px; // magic number from background image
  }

  &::after {
    bottom: -13px; // magic number from background image
    transform: scaleY(-1); // flip vertically
  }

  p:first-child,
  h4 {
    font-size: var(--font-size-m);
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
  }
}
