.text--rules-sidebar {
  background-color: var(--color-sidebar-bg, whitesmoke);
  border-block-color: var(--color-sidebar-border-block, currentcolor);
  border-inline-color: var(--color-sidebar-border-inline, lightgrey);
  border-style: solid;
  border-width: var(--border-thick) var(--border-thin);
  break-inside: avoid;
  color: var(--color-theme-page-fg);
  filter: drop-shadow(0 var(--size-xs) 8px var(--color-sidebar-shadow, silver));
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  margin: var(--size-xxl) var(--size-xs);
  padding: var(--size-xl) var(--size-xxl);
  position: relative;

  :last-child {
    margin-bottom: 0;
  }

  @media print {
    filter: none; // remove drop-shadow
    padding: var(--size-m);
  }

  --foldover-color: var(--color-sidebar-border-block, currentcolor);
  --foldover-height: 5px;
  --foldover-width: 8px;
  --foldover-offset-block: calc(
    (var(--foldover-height) * 2 + var(--border-thick)) * -1
  );
  --foldover-offset-inline: calc(var(--border-thin) * -1);

  @media print {
    --foldover-height: 2px;
    --foldover-width: 6px;
  }

  &::before,
  &::after,
  > :first-child::before,
  > :first-child::after {
    border-color: transparent;
    border-style: solid;
    border-width: var(--foldover-height) var(--foldover-width);
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  &::before,
  &::after {
    border-bottom-color: var(--foldover-color);
    top: var(--foldover-offset-block);
  }

  > :first-child::before,
  > :first-child::after {
    border-top-color: var(--foldover-color);
    bottom: var(--foldover-offset-block);
  }

  &::before,
  > :first-child::before {
    border-right-color: var(--foldover-color);
    left: var(--foldover-offset-inline);
  }

  &::after,
  > :first-child::after {
    border-left-color: var(--foldover-color);
    right: var(--foldover-offset-inline);
  }

  p:first-child,
  h4 {
    font-size: var(--font-size-m);
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
  }
}
