.stat-block {
  background: var(--color-page-bg);
  border: var(--border-thin) solid var(--color-table-head-border);
  box-shadow: 0 0 var(--size-xs) var(--color-page-fg-subtle);
  break-inside: avoid;
  clear: both;
  font-size: var(--font-size-s);
  margin: var(--size-l) 0;
  padding: var(--size-m);
  position: relative;

  @media (width >= 768px) {
    column-count: 2;
  }

  &::before,
  &::after {
    background-image: url('/images/MMStatBar_lrg.jpg');
    background-position: center;
    background-size: 100% 100%;
    content: '';
    display: inline-block;
    height: 4px;
    left: -3px;
    position: absolute;
    right: -3px;
  }

  &::before {
    top: -3px;
  }

  &::after {
    bottom: -3px;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h4 {
    color: var(--color-link-monster);
    font-family: var(--font-condensed);
    font-size: var(--font-size-l);
    margin-bottom: 0;
    margin-right: var(--size-s);
    text-transform: uppercase;
  }

  h5 {
    border-bottom: var(--border-thin) solid var(--color-link-monster);
    font-family: var(--font-condensed);
    font-size: var(--font-size-m);
    padding-bottom: var(--border-medium);
  }

  p {
    margin-bottom: var(--size-s);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  hr {
    border: 0;
    border-top: var(--border-medium) solid var(--color-link-monster);
    margin: var(--size-s) 0;
  }
}

.stat-block__ability-scores {
  ul {
    border-bottom: var(--border-medium) solid var(--color-link-monster);
    border-top: var(--border-medium) solid var(--color-link-monster);
    break-inside: avoid;
    display: flex;
    flex-wrap: wrap;
    margin: var(--size-s) 0;
  }

  li {
    flex: 1;
    padding: var(--size-s) 0;
    text-align: center;
  }

  strong {
    display: block;
  }
}
