table {
  background: white;
  border: var(--border-thin) solid #edeae8;
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--size-l) 0 var(--size-xxxl);
  width: 100%;
}

.primary-content table {
  line-height: var(--line-height-m);
}

caption {
  font-size: var(--font-size-m);
  font-weight: bold;
  line-height: var(--line-height-s);
  margin-bottom: var(--size-m);
  margin-top: var(--size-s);
  text-align: left;
}

thead {
  border-bottom: var(--border-thick) solid #d0cac5;

  tr {
    background: var(--theme-table-header-bg-color, #fff);
    color: var(--theme-table-header-fg-color, #242527);
  }
}

tbody {
  @media screen and (prefers-reduced-motion: reduce) {
    tr {
      background: var(--theme-table-row-bg-light, #fff);
      color: var(--theme-table-row-fg-light, #242527);
      transition: none;

      &:nth-child(odd) {
        background: var(--theme-table-row-bg-dark, #faf8f7);
        color: var(--theme-table-row-fg-dark, #242527);
      }

      &:hover,
      &:focus {
        background: var(--theme-table-row-bg-hover, #e3f4eb);
        color: var(--theme-table-row-fg-hover, #242527);
      }
    }
  }

  tr {
    background: var(--theme-table-row-bg-light, #fff);
    color: var(--theme-table-row-fg-light, #242527);
    // stylelint-disable-next-line plugin/no-low-performance-animation-properties
    transition: background-color 0.3s;

    &:nth-child(odd) {
      background: var(--theme-table-row-bg-dark, #faf8f7);
      color: var(--theme-table-row-fg-dark, #242527);
    }

    &:hover,
    &:focus {
      background: var(--theme-table-row-bg-hover, #e3f4eb);
      color: var(--theme-table-row-fg-hover, #242527);
    }
  }
}

th,
td {
  border: var(--border-thin) solid #edeae8;
  font-size: var(--font-size-s);
  overflow-wrap: break-word;
  padding: var(--size-xs) var(--size-l);
  text-align: center;
  vertical-align: top;

  p {
    margin: 0;

    + p {
      margin-top: var(--size-s);
    }
  }
}

th {
  font-weight: bold;
  padding: var(--size-s) var(--size-l);
}

.table--left-first {
  th:first-child,
  td:first-child {
    text-align: left;
  }
}
