.block-torn-paper {
  background: var(--color-theme-quote-bg, white);
  border: solid transparent;
  border-image-repeat: repeat;
  border-image-slice: 20 10 20 10 fill;
  border-image-source: var(
    --theme-quote-border,
    url('/images/5f1f1d66d16be68cf09d6ca172f8df92.png')
  );
  border-width: var(--size-l) var(--size-s);
  color: var(--color-theme-quote-fg, currentcolor);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  margin: var(--size-xl) 0 var(--size-xxl);
  padding: var(--size-s);
  position: relative;

  a {
    color: var(--color-link);
  }

  p:last-of-type {
    margin-bottom: var(--size-xs);
  }
}
