.block-torn-paper {
  background: var(--color-torn-paper-bg, white);
  border: solid var(--color-torn-paper-border);
  border-image-repeat: repeat;
  border-image-slice: 20 10 20 10 fill;
  border-image-source: var(
    --theme-quote-border,
    url('/images/5f1f1d66d16be68cf09d6ca172f8df92.png')
  );
  border-width: var(--size-l) var(--size-s);
  break-inside: avoid;
  color: var(--color-theme-quote-fg, currentcolor);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  margin: var(--size-xl) 0 var(--size-xxl);
  padding: var(--size-s);
  position: relative;

  @media print {
    border-image: none;
    border-radius: 1em;
    border-width: var(--border-thin);
    padding: var(--size-m);
  }

  :last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--color-link);
  }
}
