---
layout: layout.njk
title: 'The Future Hates You!'
---

<article class="new-page title-page">
  <h1>{{ title }}</h1>
  <div class="">
  {% renderFile './src/adventures/the-future-hates-you/_includes/intro.md' %}
  </div>
  <div class="compendium-disclaimer">
  {% renderFile './src/adventures/the-future-hates-you/_includes/disclaimer.md' %}
  </div>
</article>

{% for post in collections.future_hate %}
  <section>
    {{ post.content | safe }}
  </section>
{% endfor %}
