---
layout: layout.njk
eleventyComputed:
  title: '{{ publication.title }}'
---

<style>
  @media print {
    @page:first {
      margin: 0;
    }
    article {
      width: calc(100% - var(--page-margin-inline) * 2); // 1
    }
  }
</style>

<article id="cover-page" class="full-bleed-image">
  <img class="cover__image" src="/images/the-future-hates-you/cover@8.5x11.webp" alt="">
</article>

<article id="title-page" class="title-page">
  <div class="title-page__content">
    <h1 class="title-page__title">{{ title }}</h1>
    <div class="title-page__description">
      {% renderFile './src/adventures/the-future-hates-you/_includes/intro.md' %}
    </div>
    <div class="title-page__meta">
      <p>An adventure for characters of 5th to 10th level</p>
    </div>
  </div>
  <footer class="title-page__footer">
    <div class="title-page__credits">
      {% renderFile './src/adventures/the-future-hates-you/_includes/credits.md' %}
    </div>
    <div class="title-page__disclaimer">
      <p>Version {{ publication.version }}</p>
      {% renderFile './src/adventures/the-future-hates-you/_includes/disclaimer.md' %}
    </div>
    <div class="title-page__legal">
      {% include 'legal.njk' %}
    </div>
  </footer>
</article>

{% for post in collections.future_hate %}
  {% if not post.data.exclude_from_print %}
    <article class="{{post.data.article_class}}">
      {{ post.content | safe }}
    </article>
  {% endif %}
{% endfor %}
